import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*

domain = Domain.global()
store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()
{% for item in jenkins_master_credentials %}
{% if item.type == "BasicSSHUserPrivateKey" %}
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
creds = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  "{{ item.id }}",
  "{{ item.username }}",
  new BasicSSHUserPrivateKey.UsersPrivateKeySource(),
  "{{ item.passphrase | default("", true) }}",
  "{{ item.description }}"
)
{% else %}
creds = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  "{{ item.id }}",
  "{{ item.description }}",
  "{{ item.username }}",
  "{{ item.password }}"
)
{% endif %}
store.addCredentials(domain, creds)
{% endfor %}
